<div class="banner">
    <div class="banner-flex-container">
        <h1> Integer bibendum sit amet arcu vel egestas</h1>
        <div class="landing-banner-items">
            <div class="banner-item">
                <span class="icon"><img src="../img/service1.png"/></span>
                <span> Service Name </span>
            </div>
            <div class="banner-item">
                <span class="icon"><img src="../img/service1.png"/></span>
                <span> Service Name </span></div>
            <div class="banner-item">
                <span class="icon"><img src="../img/service3.png"/></span>
                <span> Service Name </span>
            </div>
        </div>
    </div>
</div>





