<div class="testimonial">
    <h2>Testimonials</h2>
    <div class="testimonial-flex-container">
        <div class="test-item">
            <div class="arrow_box">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
            <div class="user-detail">
                <span class="user-pic"></span>
                <span class="user-info">
                    <p class="name">Client Name</p>
                    <p class="desg">Position , ORG</p>
                </span>
            </div>
        </div>
        <div class="test-item">
            <div class="arrow_box">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Pellentesque habitant morbi tristique senectus et netus  nt morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
            <div class="user-detail">
                <span class="user-pic"></span>
                <span class="user-info">
                    <p class="name">Client Name</p>
                    <p class="desg">Position , ORG</p>
                </span>
            </div>
        </div>
        <div class="test-item">
            <div class="arrow_box">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
            <div class="user-detail">
                <span class="user-pic"></span>
                <span class="user-info">
                    <p class="name">Client Name</p>
                    <p class="desg">Position , ORG</p>
                </span>
            </div>
        </div>
    </div>
</div>
