<div class="contact-overlay">
    <div class="contact-img">
        <div class="contct-flex-container">
            <h2>Convinced To Work With Us ?</h2>
            <h3>Companies has helped agencies keep their promises to client since 2005.</h3>
            <div class="contact-form">
                <div class="input-area">
                    <input type="text" name="uname" placeholder="Fullname" />
                    <input type="text" name="uname" placeholder="Email Address"/>
                    <input type="text" name="uname" placeholder="Phone number" />
                </div>
                <div>
                    <textarea rows="7" cols="20" name="message"></textarea>
                </div>
                <div>
                    <button class="btn-nobgimg">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>