<div class="footer">
    <div class="footer-flex-container">
        <div><p>&copy; 2017 Company.All Rights Reserved.</p></div>
        <div><p>Follow us on :
                <i class="fab fa-facebook"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
                <i class="far fa-envelope"></i>
            </p></div>
    </div>
</div>