<html>
<head>
    <meta charset="UTF-8">
    <title>Axelerant: Interview Frontend</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<header>
    {% include "_header.html.twig" %}
</header>
<div>
    {% include "_banner.html.twig" %}
    {% include "_about.html.twig" %}
    {% include "_comment.html.twig" %}
    {% include "_contact.html.twig" %}
    {% include "_footer.html.twig" %}
</div>

<script src="main.js"></script>
</body>
</html>